.scroll-bar:vertical > .thumb {
    -fx-background-color: grey;
}

.small-btn{
-fx-background-radius: 20px !important;
-fx-pref-width: 40px !important;
-fx-min-width: 40px !important;
-fx-max-width: 40px !important;
-fx-pref-height: 40px !important;
-fx-min-height: 40px !important;
-fx-max-height: 40px !important;

}

