.scroll-bar:vertical > .thumb {
    -fx-background-color:  #aeaeae;
}.scroll-pane > .viewport {
    -fx-background-color: transparent;
    -fx-background-insets:0 ;
 }
 .scroll-bar {
     -fx-font-size: 10px;
 }

 .text-field:error {
   -fx-text-box-border: red ;
   -fx-focus-color: red ;
 }


.btn{
-fx-font:  14px 'Quicksand Bold';
    -fx-background-color:  #3DB2FF;
 -fx-background-radius: 4px;
 -fx-border-radius: 4px;
 -fx-skin: 'utils.skins.PrimaryButtonSkin';
}

.btn:hover{
-fx-font:  14px 'Quicksand Bold';
}



.btn:pressed{
-fx-font:  14px 'Quicksand Bold';
-fx-background-color:  #277bae !important;
-fx-border-color: #277bae;
-fx-background-radius: 4px;
 -fx-background-insets: 0 ;
-fx-border-radius: 4px;
}



.small-btn{
-fx-background-radius: 20px !important;
-fx-border-radius: 20px !important;
-fx-pref-width: 40px !important;
-fx-min-width: 40px !important;
-fx-max-width: 40px !important;
-fx-pref-height: 40px !important;
-fx-min-height: 40px !important;
-fx-max-height: 40px !important;


}

}

.small-btn:hover{
-fx-background-color:  #369cdc !important;

}

.small-btn:pressed{
-fx-background-color:  #277bae !important;

}


.btn2{
-fx-font:  14px 'Segoe UI';
-fx-text-fill: black;
-fx-background-color: white;
-fx-background-insets: 0;
-fx-background-radius: 8px;
-fx-border-radius: 8px;
-fx-alignment: LEFT;
 -fx-background-radius: 4px;
 -fx-border-width: 0px
}



.btn2:hover{
-fx-font:  14px 'Segoe UI';
-fx-background-color:  #ECF0F1 ;
-fx-background-radius: 8px;
-fx-border-radius: 8px;
}

.btn2:pressed{
-fx-font:  14px 'Segoe UI';
-fx-background-color:  #ECF0F1 ;
-fx-background-radius: 8px;
-fx-border-radius: 8px;
}



