.scroll-bar {
    -fx-font-size: 10px;
}

.btn{
    -fx-background-color:  #3DB2FF;
 -fx-background-radius: 4px;
 -fx-border-radius: 4px;
 -fx-skin: 'utils.skins.PrimaryButtonSkin';
}



.scroll-bar:vertical > .thumb {
    -fx-background-color:  #aeaeae;
}.scroll-pane > .viewport {
    -fx-background-color: transparent;
    -fx-background-insets: 0 ;
 }