.small-btn{
-fx-background-radius: 16px !important;
-fx-pref-width: 32px !important;
-fx-min-width: 32px !important;
-fx-max-width: 32px !important;
-fx-pref-height: 32px !important;
-fx-min-height: 32px !important;
-fx-max-height: 32px !important;
 -fx-border-radius: 16px !important;
}

}

.small-btn:hover{
-fx-background-color:  #369cdc !important;

}

.small-btn:pressed{
-fx-background-color:  #277bae !important;
}

.scroll-bar:vertical > .thumb {
    -fx-background-color:  #aeaeae;
}.scroll-pane > .viewport {
    -fx-background-color: transparent;
    -fx-background-insets:0 ;
 }
 .scroll-bar {
     -fx-font-size: 10px;
 }