.small-btn{
-fx-background-radius: 20px !important;
-fx-pref-width: 40px !important;
-fx-min-width: 40px !important;
-fx-max-width: 40px !important;
-fx-pref-height: 40px !important;
-fx-min-height: 40px !important;
-fx-max-height: 40px !important;
 -fx-background-radius: 4px;
 -fx-border-radius: 4px;
 -fx-skin: 'utils.skins.PrimaryButtonSkin';
}

}

.small-btn:hover{
-fx-background-color:  #369cdc !important;

}

.small-btn:pressed{
-fx-background-color:  #277bae !important;
}